@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: #C5CDDA;
}

.btn1 {
    background: #292C31;
    border-radius: 16px;
    color: white;
    padding: 16px 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}

.btn2 {
    border-radius: 16px;
    color: #0D0E10;
    padding: 16px 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    background: #ECF0F3;
    border: 3px solid #0D0E10;
}

.btn2:hover{
    box-shadow: 0px 9px 0px #0D0E10;
    transition: 300ms ease-in-out;
}